script(src='assets/libs/__theme/modernizr.min.min.js')
script(src='assets/libs/__theme/jquery-3.1.1.min.js')
script(src='assets/libs/__theme/bootstrap.min.js')
script(src='assets/libs/__theme/jquery.nivo.slider.pack.min.js')
script(src='assets/libs/__theme/nivo-active.min.js')
script(src='assets/libs/__theme/owl.min.js')
script(src='assets/libs/__theme/wow.min.min.js')
script(src='assets/libs/__theme/TimeCircles.min.js')
script(src='assets/libs/__theme/venobox.min.js')
script(src='assets/libs/__theme/jquery-ui.min.js')
script(src='assets/libs/__theme/jquery.meanmenu.min.js')
script(src='assets/libs/__theme/jquery.scrollUp.min.js')
script(src='assets/libs/__theme/plugins.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js')
script(src='assets/js/main.min.js')