.light-header-area.ptb-35
  .container-fluid
    .row
      .col-lg-2.col-md-2.col-sm-3.col-xs-12
        .logo
          a(href='index.html')
            img(src='assets/img/logo-dark.png' alt='logo')
      .col-sm-offset-6.col-sm-3.visible-sm
        .top-control.dark
          ul
            li.settings
              i.icon_cog
              ul.settings-open
                li
                  a(href='#0') Войти через
                li
                  | Language
                  a.pad-left.active(href='#0') Русский
                  a.pad-left(href='#0') English
            li.search
              .icon_search
              .inner-form
                form
                  input(type='text' placeholder='Search')
                  button(type='submit')
                    i.fa.fa-search
      .col-lg-5.col-md-5.col-sm-12.hidden-xs
        .mainmenu.menu-dark-text
          nav
            ul
              li
                a.active(href='index.html') Главная
              li
                a(href='about.html') О сайте
              li
                a(href='blog.html') Статьи
              li
                a(href='rules.html') Правила
      .col-lg-5.col-md-5.hidden-sm.col-xs-12
        .top-control.dark.login
          .social-button.social-button-login
            span Войти:
            a(href='#0')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='#0')
              i.fa.fa-vk(aria-hidden='true')
            a(href='#0')
              i.fa.fa-google-plus(aria-hidden='true')
            a(href='#0')
              i.fa.fa-linkedin(aria-hidden='true')
            a(href='#0')
              i.fa.fa-odnoklassniki(aria-hidden='true')
          ul
            li.settings
              i.icon_cog
              ul.settings-open
                li
                  | Language
                  a.pad-left.active(href='#0') Русский
                  a.pad-left(href='#0') English
            li.search
              .icon_search
              .inner-form
                form
                  input(type='text' placeholder='Search')
                  button(type='submit')
                    i.fa.fa-search
.mobile-menu-area.visible-xs
  .container-fluid
    .row
      .col-md-12
        .mobile-menu.mean-container
          .mean-bar
            a.js-meanmenu-reveal(href='#nav')
              span
              span
              span
            .mean-nav(hidden)
              ul
                li
                  a.active(href='index.html') Главная
                li
                  a(href='about.html') О сайте
                li
                  a(href='blog.html') Статьи
                li
                  a(href='rules.html') Правила
.container-fluid
  .row.photo-bcg
    .col-md-3.col-sm-3.col-xs-12.bordersq.pull-left.clearfix
      .single-service.userslike
        .service-img
        div
          a(href='0#')
            i.fa.fa-thumbs-up
          h3 Нравится
          p 3071 пользователям<br>Последние лайки от:
        .swiper-container.swiper-photos
          .swiper-wrapper
            - var n = 0
            while n < 3
              .swiper-slide
                a(href='#0')
                  img.userslike__img(src='assets/img/bottom-banner/1.jpg' alt='')
              - n++
    .col-md-3.col-sm-3.col-xs-12.bordersq.pull-right.clearfix
      .large-photo
        p YouGall - <strong>Это просто</strong>
        ol
          li
            strong Загружайте фотографии виртуально
          li
            strong Получайте подарки реально
          li
            strong Принимайте участия
          li
            strong Держите рейтинг лучших
          li
            | Зарабатывайте&nbsp;
            strong баллы
  script.
      $(function () {
          var swiperPhotos = new Swiper('.swiper-photos', {
              slidesPerView: 3,
              spaceBetween: 10
          });
      })