extends ../base
block main
  section.section__all-photo
    .container-fluid
      .row
        .col-md-12.col-sm-12.col-xs-12
          hr
          .section-title
            h3 Мои фотографии
            p 137 фото
          hr
          .my-photo
            - var n = 0
            while n < 20
              .footer-banner.overlay.popular
                a(href='#0') Название фото
                  img(src='assets/img/bottom-banner/1.jpg' alt='')
                  .likes.pull-left
                    i.fa.fa-thumbs-up
                    | 270
                  .view
                    i.fa.fa-eye
                    | 350
                  .dislike.pull-right
                    i.fa.fa-thumbs-down
                    | 25
                a(href='#0') Название фото
                  img(src='assets/img/bottom-banner/2.jpg' alt='')
                  .likes.pull-left
                    i.fa.fa-thumbs-up
                    | 270
                  .view
                    i.fa.fa-eye
                    | 350
                  .dislike.pull-right
                    i.fa.fa-thumbs-down
                    | 25
                a(href='#0') Название фото
                  img(src='assets/img/bottom-banner/3.jpg' alt='')
                  .likes.pull-left
                    i.fa.fa-thumbs-up
                    | 270
                  .view
                    i.fa.fa-eye
                    | 350
                  .dislike.pull-right
                    i.fa.fa-thumbs-down
                    | 25
                a(href='#0') Название фото
                  img(src='assets/img/bottom-banner/4.jpg' alt='')
                  .likes.pull-left
                    i.fa.fa-thumbs-up
                    | 270
                  .view
                    i.fa.fa-eye
                    | 350
                  .dislike.pull-right
                    i.fa.fa-thumbs-down
                    | 25
              - n++